.fav-page{
  background-color: #f5f5f5;
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards-grid {
  overflow-y: scroll;

}

.no-favorites {
  margin-top: 5%;
}