.poster {
  align-items: center;
}

.poster-wholesome {
  background-color: #DEFDFF;
}

.poster-chaotic {
  background-color: #FF5353;
}

.poster-container {
  width: 50%;
  display: flex; 
  justify-content: center;
}

.poster-buttons {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.poster-button{
  font-size: 1.25em;
  border: none;
  border-radius: 1.5em;
  background: #1D0F64;
  color: white;
  padding: 0.5em;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  border: #1D0F64 solid 2px
}

.poster-button:hover{
  background: #FFE5AA;
  color:#1D0F64;
}

.saved:hover {
  background: #1D0F64;
  color: white;
  cursor: default;
}
