.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-wholesome {
  background-color: #DEFDFF;
}

.poster-chaotic {
  background-color: #FF5353;
}

.poster-container {
  width: 40%;
  display: flex; 
  justify-content: center;
}

.poster-buttons {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.poster-button{
  font-size: 1.25em;
  border: none;
  border-radius: 1.5em;
  background: #1D0F64;
  color: white;
  padding: 0.5em;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.poster-button:hover{
  background: #FFE5AA;
  color:#1D0F64;
}

