.poster {
  align-items: center;
}

.poster-wholesome {
  background-color: #DEFDFF;
}

.poster-chaotic {
  background-color: #FF5353;
}

.poster-container {
  width: 50%;
  display: flex; 
  justify-content: center;
}

.poster-buttons {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.poster-button{
  font-size: 1.25em;
  padding: 0.5em;
  border: none;
  border-radius: 1.5em;
  background: #1D0F64;
  color: white;
  padding: 0.5em;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
}

.poster-button:hover{
  background: #FFE5AA;
  color:#1D0F64;
}

.saved:hover {
  background: #1D0F64;
  color: white;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .poster {
    display: flex;
    flex-direction: column;
  }
  .poster-container {
    width: 65%;
  }
  
  .poster-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
  
