.home-page {
  margin-top: 5%;
}

.selector{
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  width: 25%;
  max-height: 60%;
  border-radius: 10em;
}

#wholesome-block{
  background: #DEFDFF
}

#chaotic-block{
  background: #FF5353
}

.generate-link{
  padding: 0.6em;
  font-size: 1.4em;
  border-radius: 1em;
  color: white;
  text-decoration: none;
}

#wholesome{
  background: #5CBDC3
}

#chaotic{
  background: #F59854;
}

.selector-icon{
  font-size: 2em;
  margin-top: 0
}

.type-title{
  font-size: 2.4em;
  text-align: center;
  color: #1D0F64;
  padding: 0.6em;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .selector{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .type-title{
    font-size: 1.4em;
  }
}
  
@media screen and (max-width: 670px) {

  .home-page {
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }

  .selector {
    width: 8rem;
    justify-content: space-around;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .type-title {
    font-size: 1em;
  }

  .generate-link {
    font-size: 1em;
  }
}