#frame{
  background: white;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 2px red; */
  padding: 1em;
  border-radius: 0.4em;
  width: 20%;
}

#img-and-quote{
  /* border: solid 2px purple; */
  position: relative;
  /* height: 17em */
}

#quote-img{
  width: 100%;
  height: 12em;
  border-radius: 0.3em;
}

#quote{
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-13%, -34%);
  color: white;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.1em #1D0F64;
  font-family: 'Kaushan Script', cursive;
  font-size: 0.8em;
}

#emojis{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-button{
  border: none;
  background: #FFE5AA;
  border-radius: 1em;
  font-size: 1.3em;
  padding: 0.4em;
  cursor: pointer;
}