nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  background: #1D0F64;
  margin-right: 1em;
  color: white;
  padding: .5em;
  border-radius: 1.6em;
  height: 1.5em
}

.nav-button.active{
  background: #FFE5AA;
  color: #1D0F64;
}