nav {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.navbar {
  background-color: white;
}

.nav-button {
  background: #1D0F64;
  margin-right: 1em;
  color: white;
  padding: .5em;
  border-radius: 1.6em;
  height: 1.5em;
}

.nav-button:hover{
  background:#FFE5AA;
  color:#1D0F64;
}

.nav-button.active{
  background: #FFE5AA;
  color: #1D0F64;
}

#nav-title{
  margin-left: 0.5em;
  color: #1D0F64;
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  nav {
    height: 10%;
  }
  
  #nav-title{
    font-size: 1em;
  }

  .nav-button {
    margin-right: 0.5em;
    padding: .5em;
    border-radius: 1.6em;
    height: 1.5em;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 425px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
  }
}
